.idea
*.iml
node_modules
.DS_Store
target

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

Thumbs.db
.idea
*.iml
node_modules
.DS_Store
target
volumes
.tmp
artifact/